@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<section class="contact">
    <header>
        <h3>GitHub</h3>
    </header>
    <p>
        <span><a target="_blank" href="https://github.com/john-t-white/Hex.Examples.CheckBoxLists">Hex CheckBox List Examples</a></span>
    </p>
	<p>
		<span><a target="_blank" href="https://github.com/john-t-white/Hex">Hex</a></span>
	</p>
</section>

<section class="contact">
    <header>
        <h3>Documentation</h3>
    </header>
    <p>
        <span><a target="_blank" href="https://staticdotnet.wordpress.com/Hex">Hex Documentation</a></span>
    </p>
</section>